
html{
    background:rgb(0, 0, 0);
    font-family: 'Jost', sans-serif;
    text-align: center ;


}
body{
    background:#30a474;
    width: 1000;
    margin: 0 auto;
    border: 8px solid rgb(255, 255, 255);
    padding: 0 20px 20px 20px


}



img {
    display: block;
    margin: 0 auto;
    image-rendering: pixelated;
}

#countdown {
    /* background-color: whitesmoke; */
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
    text-align: center;
    width: 500;
    font-family: 'Jost', sans-serif;
    color: aliceblue;
    font-size: 40px;

}

.button {
    background-color: aliceblue;
    border-radius: 20%;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    text-align: center;
    width: 50px;
}

#home {
    text-align: center
}

p {
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
    text-align: center;
}

li {
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
}

.button {
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
    text-align: center;
}

.bold{
    font-weight: bold;


}

p.bold{
    text-decoration:underline;
}

li.bold{

    font-style:italic;

}

#plug {
    color:rgb(164, 195, 182)


}

img {
    display: block;
    width: 400px;
    margin: 0 auto;


}
